@import './base.css';

body {
  width:100vw;
  height: 100vh;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}


.logo {
  margin-bottom: 20px;
  -webkit-user-drag: none;
  height: 128px;
  width: 128px;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 1.2em #6988e6aa);
}

.creator {
  font-size: 14px;
  line-height: 16px;
  color: black;
  font-weight: 600;
  margin-bottom: 10px;
}

.text {
  font-size: 28px;
  color: var(--ev-c-text-1);
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 0 10px;
  padding: 16px 0;
}

.tip {
  font-size: 16px;
  line-height: 24px;
  color: var(--ev-c-text-2);
  font-weight: 600;
}

.react {
  background: -webkit-linear-gradient(315deg, #087ea4 55%, #7c93ee);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.ts {
  background: -webkit-linear-gradient(315deg, #3178c6 45%, #f0dc4e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

/* 홈 */
.page-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding-top: 55px;
}

#slogan-box {
  display: flex;
  padding-top: 160px;
}

#text-box {
  font-size: 50px;
  line-height: 1.4;
}

.slogan-blue {
  font-weight: 700;
  color: #3071F2;
}

.slogan {
  font-weight: 700;
}

#home-logo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: auto;
  margin-right: 30px;
}

.actions {
  display: flex;
  padding-top: 60px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.action {
  flex-shrink: 0;
  padding: 6px;
}

.action a {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 700;
  white-space: nowrap;
  border-radius: 30px;
  padding: 22px 38px;
  line-height: 38px;
  font-size: 25px;
  font-weight: bold;
  border-color: var(--ev-button-alt-border);
  color: white;
  background-color: #3071F2;
  /* transition: all 200ms ease; */
}

.action a:hover {
  /* border-color: var(--ev-button-alt-hover-border); */
  /* color: var(--ev-button-alt-hover-text); */
  /* background-color: var(--ev-button-alt-hover-bg); */
  background-color: #0B4FD5;
}

#guide-box {
  margin: auto;
  padding-top: 120px;
}

.guide-txt {
  margin-right: 10px;
  font-size: 18px;
  color: #9C9C9C;
  font-weight: 400;
}

.guide-txt-blue {
  color: #3071F2;
  font-size: 18px;
  font-weight: 600;
}

.link-guide {
  text-decoration: none; 
}

.link-guide:hover {
  text-decoration: underline;
}



/* */

.versions {
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  padding: 15px 0;
  font-family: 'Menlo', 'Lucida Console', monospace;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  border-radius: 22px;
  background-color: #202127;
  backdrop-filter: blur(24px);
}

.versions li {
  display: block;
  float: left;
  border-right: 1px solid var(--ev-c-gray-1);
  padding: 0 20px;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.8;
  &:last-child {
    border: none;
  }
}

::-webkit-scrollbar {
  display: block;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: lightblue;
}

.full{
  width:100%;
  height:100%;
}

.body{
  width:100%;
  height:100%;
  background-color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
}

/* 상단바 */
.topBar {
  position: absolute;
  width: 100%;
  height: 55px;
  display: flex;
  padding-right: 10px;
  /* background-color: #D9D9D9; */
  background-color: #f9f9f9;
  /* border-bottom: 1px solid #D9D9D9; */
  justify-content: right;
  -webkit-app-region: drag;
  border-bottom: 1px solid #ededed;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
}

.topbarBtn {
  width: 40px;
  height: 40px;
  margin-inline: 4px;
  margin-block: auto;
  /* border-radius: 25%;
  border: 1px solid gray; */
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-app-region: no-drag;
  text-decoration: none; 
}

.topbar-icon {
  width: 23px;
}

.topbarBtn:hover .topbar-icon {
  filter: brightness(0) saturate(100%) invert(34%) sepia(80%) saturate(2885%) hue-rotate(211deg) brightness(100%) contrast(90%);
}


/* 파일 선택 화면 */

.pdf-page-box {
  height: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 55px;
}

.file-box {
  display: none;
}

.file-box::file-selector-button {
  font-size: 14px;
  background: #fff;
  border: 1px solid #111;
  border-radius: 12px;
  padding: 4px 32px;
  cursor: pointer;
}

.file-select-btn {
  width: 180px;
  height: 50px;
  border: none;
  font-size: 17px;
  font-weight: 700;
  background-color: #3071F2;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  margin: auto;
  margin-bottom: 35px;
}

.file-select-btn:hover {
  background-color: #0B4FD5;
}

.main-box {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.preview {
  width: 600px;
  height: 300px;
  margin: auto;
  background-color: #fff;
  border-radius: 35px;
  border: 3px dashed #A9AAAB;
  align-items: center;
  color: #50555F;
}

.preview.active {
  background-color: #efeef3;
  border-color: #111;
}

.file-msg-box {
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.preview_msg {
  font-weight: 700;
  font-size: 25px;
  margin: 4px 0;
}

.preview_info {
  width: 100%;
  list-style: none;
  padding: 0;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.preview_info .info_key {
  display: block;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 4px;
}

.preview_info .info_value {
  font-size: 14px;
}

/* 프레젠테이션 상세 페이지 */

.presentation_left {
  width:24%;
  height:100%;
  overflow-y: scroll;
  background-color: pink;
}
.presentation_right {
  width:76%;
  height:100%;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
}
